/* Core Tailwind CSS Goes here */
@import 'tailwindcss/base';
@import 'extended-base.pcss';
@import 'fonts.pcss';

/* Components for  Tailwind CSS Goes here */
@import 'tailwindcss/components';

/* Utilies such as flex goes here. */
@import 'tailwindcss/utilities';

/* Media Queries goes here. */
@import 'tailwindcss/screens';